<ion-header>
    <ion-item>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-toolbar>
            <ion-title>Account Security</ion-title>
        </ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="submit()" [disabled]="!isValid" strong>
                <ion-icon name="checkmark"></ion-icon>
                <!--TODO: Change Color based on if changes have been made and are ready to save-->
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-header>

<ion-content padding>

</ion-content>
