<p-toolbar>
    <div class="ui-toolbar-group-left">
        <ion-title>My Tasks</ion-title>
    </div>
    <div class="ui-toolbar-group-right">
        <button (click)="presentTaskForm()" class="ui-button" label="Edit" pButton type="button">
            <ion-label>Assign Task</ion-label>
            <ion-icon class="icon" name="add-circle"></ion-icon>
        </button>
    </div>
</p-toolbar>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item-sliding *ngFor="let task of tasks" class="sliding-cards">
        <p-card class="ui-card">
            <ion-item (click)="presentTask(task)" class="item">
                <ion-thumbnail class="task-card-thumbnail">
                    <ion-img [src]="task?.picture || '/assets/img/exercise.png'" class="task-card-thumbnail"></ion-img>
                </ion-thumbnail>
                <ion-title>{{task?.title}}</ion-title>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="presentTaskForm(task)" slot="icon-only">
                    <ion-icon name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="remove(task)" slot="icon-only">
                    <ion-icon name="remove-circle"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </p-card>
    </ion-item-sliding>
</ion-content>
