<ion-content scrollX="false" scrollY="false">
    <div class="splash-bg"></div>
    <div class="splash-logo"></div>
    <div class="splash-info"></div>
    <div class="splash-intro">
        My Home PT
    </div>
    <div padding>
        <ion-button (click)="signin()" class="signin" color="primary" expand="full">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Sign In
        </ion-button>
        <ion-button (click)="signup()" class="signup" color="primary" expand="full">
            <ion-icon name="person-add" slot="start"></ion-icon>
            Sign Up
        </ion-button>
    </div>
</ion-content>
