.ion-content {
  position: relative;
  margin: auto
}

.profile-picture-wrapper {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 100%;
  height: 128px;
}

.gender-note {
  text-align-last: right;
}
